/**
Set font for all buttons
 */
button {
    font-family: Tahoma, sans-serif;
}

/**
Child-class from button, all buttons except sound
 */
a.button {
    text-decoration: none;
    color: initial;
    background-color: whitesmoke;
    font-size: 30px;
    margin: 10px;
    padding: 30px 30px;
}

/**
Child-class for sound-button
 */
b.button {
    text-decoration: none;
    background-color: black;
    color: initial;
    font-size: 0;
    cursor: pointer;
}

/**
Show field for HTML-documents
 */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0 10px;
}

/**
Global settings for fonts
 */
body {
    color: white;
    background-color: black;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

/**
Alignment for h1
 */
h1 {
    text-align: center;
}

/**
Alignment for h2
 */
h2 {
    text-align: center;
}

/**
Container for Flex-Box
 */
.flex-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
Settings for sidebar - fixed left with full height
 */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

/**
Styles for links within the sidebar
 */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: lightgrey;
    display: block;
}

/**
Style for hover on sidebar-links
 */
.sidebar a:hover {
    color: white;
}

/**
Style for table
 */
table {
    border: 1px white;
}

/**
Alignment for special table
 */
table.center {
    width: 50%;
    margin-left: 00%;
    margin-right: 40%;
}

/**
Styles for table entries
 */
td, th {
    border: 1px solid white;
    padding: 8px;
}

/**
Center alignment
 */
.center-div {
    margin-left: 40%;
    margin-right: 40%;
}

/**
Right Alignment
 */
.right-div {
    float: right;
}

/**
Alignment for canvas
 */
.center-canvas {
    margin-left: 36%;
}

/**
Alignment for buttons under the canvas
 */
.center-button-start {
    margin-left: 36%;
}
